In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from acquire import new_get_titanic_data
from prepare_alt import prep_titanic

test = prep_titanic(new_get_titanic_data())

test.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,categorical_sex
0,0,3,male,22.0,1,0,7.2500,S,2,0,1
1,1,1,female,38.0,1,0,71.2833,C,0,0,0
2,1,3,female,26.0,0,0,7.9250,S,2,1,0
3,1,1,female,35.0,1,0,53.1000,S,2,0,0
4,0,3,male,35.0,0,0,8.0500,S,2,1,1

In [2]:
X = df[['pclass','age','fare','sibsp','parch']]
y = df[['survived']]

X_train_validate, X_test, y_train_validate, y_test = train_test_split(X, y, test_size = .20, random_state = 123)

X_train, X_validate, y_train, y_validate = train_test_split(X_train_validate, y_train_validate, test_size = .30, random_state = 123)

print("train: ", X_train.shape, ", validate: ", X_validate.shape, ", test: ", X_test.shape)
print("train: ", y_train.shape, ", validate: ", y_validate.shape, ", test: ", y_test.shape)

NameError: name 'df' is not defined

In [121]:
logit = LogisticRegression(C=1, class_weight={0:1, 1:99}, random_state=123, intercept_scaling=1, solver='lbfgs')

logit.fit(X_train, y_train)

LogisticRegression(C=1, class_weight={0: 1, 1: 99}, random_state=123)

print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Coefficient:
 [[-1.41746315 -0.04412516  0.00265357 -0.71225423 -0.14194745]]
Intercept:
 [8.81967826]

In [122]:
y_pred = logit.predict(X_train)

In [123]:
y_pred_proba = logit.predict_proba(X_train)

In [124]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.37

In [125]:
print(confusion_matrix(y_train, y_pred))

[[  0 249]
 [  0 149]]

In [126]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       249
           1       0.37      1.00      0.54       149

    accuracy                           0.37       398
   macro avg       0.19      0.50      0.27       398
weighted avg       0.14      0.37      0.20       398

#### Start by defining your baseline model.

In [127]:
df['baseline_prediction'] = "not_survived"

df['survived_text'] = df.survived

df.loc[df['survived_text'] == 0, 'survived_text'] = 'not_survived'

df.loc[df['survived_text'] == 1, 'survived_text'] = 'survived'

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,baseline_prediction,survived_text
0,0,3,1,22.0,1,0,7.2500,S,2,0,not_survived,not_survived
1,1,1,0,38.0,1,0,71.2833,C,0,0,not_survived,survived
2,1,3,0,26.0,0,0,7.9250,S,2,1,not_survived,survived
3,1,1,0,35.0,1,0,53.1000,S,2,0,not_survived,survived
4,0,3,1,35.0,0,0,8.0500,S,2,1,not_survived,not_survived
...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,0,39.0,0,5,29.1250,Q,1,0,not_survived,not_survived
886,0,2,1,27.0,0,0,13.0000,S,2,1,not_survived,not_survived
887,1,1,0,19.0,0,0,30.0000,S,2,1,not_survived,survived
889,1,1,1,26.0,0,0,30.0000,C,0,1,not_survived,survived
890,0,3,1,32.0,0,0,7.7500,Q,1,1,not_survived,not_survived

In [107]:
pd.crosstab(df.baseline_prediction, df.survived_text)

survived_text        not_survived  survived
baseline_prediction
not_survived                  424       288

In [109]:
baseline_accuracy = (df.baseline_prediction == df.survived_text).mean()

baseline_accuracy

0.5955056179775281

#### Create another model that includes age in addition to fare and pclass.

#### Does this model perform better than your previous one?

In [ ]:
Include sex in your model as well. 
Note that you'll need to encode or create a dummy variable of this feature before including it in a model.

In [ ]:
Try out other combinations of features and models.

In [ ]:
Use you best 3 models to predict and evaluate on your validate sample.

In [ ]:
Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?